/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  background-color: #003366;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px 0;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

li h2 {
  margin: 0;
  font-size: 1.5em;
}

li p {
  margin-top: 10px;
}
